#dog-data img{
    height: 200px;
    width: 300px; 
}

#cat-data img {
    height: 200px;
    width: 300px; 
}

#sky {
    height: 200px;
    width: 100%;
}

* {
    font-family: 'Quicksand', sans-serif;
}

hr {
    border: 1px solid;
}