{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}

<h1>Cheer Me Up!</h1>
<h3>Click any of the buttons below to begin</h3>

<form>
    <button type="submit" id="joke">Tell me a Joke</button>
</form>
    <div id="joke-data"></div>
<form>
    <button type="submit" id="dog">I like dogs</button>
</form>
    <div id="dog-data"></div>
<form>
    <button type="submit" id="cat">I like cats</button>
</form>
    <div id="cat-data"></div>








<script src="/static/cheer-me-up.js?asd;lkajsdbo"></script>
{% endblock %}