{% extends 'base.html' %}
{% block title %} Followers Page {% endblock %}
{% block content %}


<div class="col-sm-9">
    <div class="row">

        {% for follower in user.followers %}

        <div class="col-lg-4 col-md-6 col-12">
            <div class="card user-card">
                <div class="card-inner">
                    <div class="card-contents">
                        <a href="/users/{{ follower.id }}" class="card-link">
                            <p>@{{ follower.username }}</p>
                        </a>

                        {% if g.user.is_following(follower) %}
                        <form method="POST" action="/users/stop-following/{{follower.id}}">
                            <button class="btn btn-primary btn-sm">Unfollow</button>
                        </form>
                        {% else %}
                        <form method="POST" action="/users/follow/{{ follower.id }}">
                            <button class="btn btn-outline-primary btn-sm">Follow</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        
    </div>
</div>

{% endblock %}