{% extends 'base.html' %}
{% block title %} Following Page {% endblock %}
{% block content %}

{% if user.following|length == 0 %}
<div class="mt-3">
    <h3>Not following anyone yet</h3>
</div>
{% else %}

<div class="col-sm-9">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12">

        {% for followed_user in user.following %}

            <div class="card user-card">
                <div class="card-inner">
                    <div class="card-contents">
                        <a href="/users/{{ followed_user.id }}" class="card-link">
                            <p>@{{ followed_user.username }}</p>
                        </a>
                        {% if g.user.is_following(followed_user) %}
                        <form method="POST" action="/users/stop-following/{{ followed_user.id }}">
                            <button class="btn btn-primary btn-sm">Unfollow</button>
                        </form>
                        {% else %}
                        <form method="POST" action="/users/follow/{{ followed_user.id }}">
                            <button class="btn btn-outline-primary btn-sm">Follow</button>
                        </form>
                        {% endif %}

            </div>
        </div>

        {% endfor %}

    </div>
</div>

{% endif %}
{% endblock %}