{% extends 'base.html' %}
{% block title %} Profile Page {% endblock %}
{% block content %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{user.username}}</h5>
    </div>
</div>

{% for post in posts %}

    {% if g.user %}
    {% if post.user_id == user.id %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.body}}</p>
        </div>
    </div>

    {% endif %}
    {% endif %}
{% endfor %}

{% endblock %}