{% extends 'base.html' %}
{% block title %} Profile Page {% endblock %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-lg-4 col-md-6 col-12">
<div class="card border border-dark shadow-sm mt-3" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title">{{user.username}}</h3>
        {% if g.user.id == user.id %}
        <a href="/users/profile"><button class="btn btn-outline-warning  btn-sm">Edit Username</button></a>
        {% endif %}
    </div>
</div>

<div class="row full-width">
    <div class="container mt-2">
        <div class="row justify-content-start">
            <div class="col-9">
                <ul class="user-stats nav nav-pills">
                    <li class="stat">
                        <h4>
                            <a href="/users/posts">{{ user.posts | length }}</a>
                        </h4>
                        <p class="small">Posts</p>
                    </li>
                    <li class="stat mx-2">
                        <h4>
                            <a href="/users/{{ user.id }}/following">{{ user.following | length }}</a>
                        </h4>
                        <p class="small ">Following</p>
                    </li>
                    <li class="stat">
                        <h4>
                            <a href="/users/{{ user.id }}/followers">{{ user.followers | length }}</a>
                        </h4>
                        <p class="small">Followers</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        {% if g.user.id == user.id %}
        <table class="table table-dark ml-3">
            <th>
                User Control Panel
            </th>
                <tr>
                    <td>
                        <form action="/users/delete" method="POST">
                            <button class="btn btn-outline-danger">Delete Profile</button>
                        </form>
                    </td>
                </tr>   
                <tr>
                    <td>
                        <a href="/logout"><button class="btn btn-outline-danger">Logout</button></a>
                    </td>
                </tr>
        </table>
        {% endif %}
    </div>
</div>
</div>


    <div class="col-lg-4 col-md-6 col-12  mt-3">
        
    <div class="container justify-content-start">
        <h3>My Posts</h3>
        
        {% if user.posts|length == 0 %}
            <h3>No Posts Yet</h3>
        {% else %}
        
            {% for post in posts %}
            
    
            {% if g.user %}
            {% if post.user_id == user.id %}
    
            <div class="card border border-dark shadow mb-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.body}}</p>
                </div>
            </div>
    
            {% endif %}
            {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12 mt-3">
    {% if user.following|length == 0 %}
        <h3>You are not following anyone</h3>
        <p>Check out other users <a href="/users">here</a></p>
    {% else %}

        {% for followed_user in user.following %}
    
        <div class="card user-card border border-dark shadow">
            <div class="card-inner">
                <div class="card-contents">
                    <a href="/users/{{ followed_user.id }}" class="card-link">
                        <p>@{{ followed_user.username }}</p>
                    </a>
                    {% if g.user.is_following(followed_user) %}
                        <form method="POST" action="/users/stop-following/{{ followed_user.id }}">
                            <button class="btn btn-primary btn-sm">Unfollow</button>
                        </form>
                    {% else %}
                        <form method="POST" action="/users/follow/{{ followed_user.id }}">
                            <button class="btn btn-outline-primary btn-sm">Follow</button>
                        </form>
                    {% endif %}
    
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>



</div>
</div>

{% endblock %}