{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}
<div class="d-flex justify-content-center my-3">
<h2>Referrals</h2>
</div>

<div class="table-responsive-md">
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            
            <th scope="row">Substance Abuse and Mental Health Services Administration (SAMSHA)</th>
            <td>1-800-662-4357</td>
            <td>National organization that provides referrals for substance use and mental health services</td>
        </tr>
        <tr>
            
            <th scope="row">National Suicide Prevention Hotline</th>
            <td>800-273-8255 or 800-784-2433</td>
            <td>National hotline that provides assistance with suicidal thoughts and allows you to speak with a professional for help</td>
        </tr>
        <tr>
            
            <th scope="row">Crisis Text Line</th>
            <td>Text NAMI or HOME to 741-741</td>
            <td>Service that allows you to text with a professional</td>
        </tr>
        <tr>
            <th scope="row">Postpartum Depression Hotline</th>
            <td>800-773-6667</td>
            <td>Provides education and support to individuals struggling with depression due to childbirth</td>
        </tr>
        <tr>
            
            <th scope="row">Depression and Bipolar support</th>
            <td>800-826-3632</td>
            <td>Service that allows you to text with a professional</td>
        </tr>
        <tr>
            <th scope="row">National Alliance on Mental Illness (NAMI)</th>
            <td>800-950-6264</td>
            <td>Provides education and support to individuals and families struggling with mental illness</td>
        </tr>
        <tr>
            <th scope="row">Trevor Project</th>
            <td>866-488-7386</td>
            <td>24/7 Crisis line specifically for individuals in the LGBTQ community</td>
        </tr>
    </tbody>
</table>
</div>



{% endblock %}