{% extends 'base.html' %}
{% block title %}Treatments {% endblock %}
{% block content %}



<div class="mt-2">
    <h2>Counseling</h2>
    <p>
        One of the best treatments for depression is counseling. Counseling is talk therapy that is usually practiced by Licensed Professional Counselors (LPC). 
        This is what most people think of as traditional "therapy". Generally counseling involves meeting with a professional at least once a week and discussing
        various aspects of the person's mental health issues. There are numerous frameworks that counselors practice from, which can sometimes be overwhelming for 
        people who are just being exposed to the field. If you're interested in starting counseling, look up the different types of counselors and how they approach 
        problems. Searching for a counselor is a lot like finding the right mechanic for a car. If your AC goes out then you wouldn't go to a mechanic that replaces tires. 
        It's important to find a counselor that matches how you view issues. Some counselor's focus on the past, whereas other are interested in what you can do in the future. 
        Do a little research to find a good match and then book an appointment.
    </p>
</div>

<div>
    <h2>Medication</h2>
    <p>
        If depressive symptoms persist for long periods of time and you just getting counseing is not helping you feel better. It may be a good idea to look into medications.
        There are numerous medications now-a-days that are used to treat depression. Generally medication is prescribed from a Psychiatrist, but some psychologists are also able
        to prescribe them as well. Some medications take some time to have a full effect on people, and different people are affected in different ways. When considering medications
        be sure to have an honest conversation with your doctor about what your experiencing and get as much information as you can on the best way to take and 
        benefit from it. 
    </p>

    <h2>Best Results</h2>
    <p>
        The best results generally come from a combination of these two treatments. For referalls to mental health centers or even local counseling contact your
        local information line, or utilize the crisis program. 
    </p>
</div>








{% endblock %}