{% extends 'base.html' %}
{% block title %} Edit Profile Page {% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2 class="edit-message mt-2">Edit Profile</h2>
        <form method="POST" id="user_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}

            <button class="btn btn-success btn-lg btn-block my-2">Submit</button>
        </form>
        <form action="/users/delete" method="POST">
            <button class="btn btn-danger btn-lg btn-block">Delete Profile</button>
        </form>
    </div>
</div>

{% endblock %}