{% extends 'base.html' %}
{% block title %} Crisis Coping Skills {% endblock %}
{% block content %}


<h1>What is a crisis?</h1>
<p>
    A mental health crisis is any situation that an individual is not equipped to cope with or handle. 
    A crisis is accompanied by extreme emotions and is unexpected, which is why it takes such a large toll on people.
    The most important aspect of a crisis is that it is short term, meaning there is always an end to the event.   
</p>

<h3>What to do?</h3>
<p>
    During a crisis the goal is to bring the extreme emotions down to a level where they can be managed.
    This is usually done through special techniques called "coping skills". Coping skills are used to either soothe a person in distress
    or distract the person away from whatever is causing the stress. Crisis events are short term, but the effects of the events on people
    can be felt long after the event ended. For this reason it is important to use coping skills that appeal to the individual, as some
    will work differently for differet people. 
</p>

<h3>What to try?</h3>
<p>
    First attempt to remove yourself from the trigger or event causing the distress. This could be an argument, news article, a specific 
    person, etc. If you can get away from what is causing you distress then you can focus on calming. If you are unable to distance yourself
    from the trigger or event, then you need to try and distract yourself away from it. 
</p>

<h3>Specific Skills for Crisis</h3>
<p>
    Due to heightened emotional states coping skills for crisis situation are very simple. Once the extreme emotions have lessened, 
    more in-depth or immersive skills can be utilized to further lower emotional states.
    <ul>
        <li>Identify your feeling/s - You can not soothe yourself if you don't know what emotions your feeling!</li>
        <li>Act opposite - very simple idea - do something that is the opposite of what you feel - Anger - Opposite - Calm 
            Sad - Opposite - Happy
        </li>
        <li>Talk to a friend or loved one who can provide support</li>
        <li>Express the emotion in a way that does not harm yourself, someone else, or result in something being broken. If you have to scream, 
            take a pillow and scream as loud as you want into it. If you're angry, take that same pillow and punch/kick/throw on the ground. 
            Do something physical (and safe) to get the emotion out.
        </li>
    </ul>
</p>








{% endblock %}