{% extends 'base.html' %}
{% block title %} Question {{question_num +1}} {% endblock %}




{% block content %}
<div class="jumbotron border border-dark shadow mt-4">
    <div class="container">
<h1>{{question}}</h1>

        
    <form action="/crisis/answers" method="POST">
    <div class="custom-control custom-radio custom-control-inline">
    {% for itm in choices %}
    <input class="mx-2 mt-2" id="choice" type="radio" name="answer" value="{{itm}}"><h4>{{itm}}</h4></input>
    {% endfor %}
    </div>
    <div class="d-flex justify-content-end">
    <button class="btn btn-dark">Submit</button>
    </div>
</form>
</div>
</div>

{% endblock %} 





