{% extends 'base.html' %}
{% block title %} Crisis Referrals {% endblock %}
{% block content %}



<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <form id="local_form">
            {{ county_form.hidden_tag() }}

            {% for field in county_form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}
            <button class="btn btn-primary btn-block btn-lg">Search</button>
        </form>
    </div>
</div>
<h1>Or</h1>
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <form id="local_form">
            {{ zip_form.hidden_tag() }}

            {% for field in zip_form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}
            <button class="btn btn-primary btn-block btn-lg">Search</button>
        </form>
    </div>
</div>



{%if mhc_zip %}
<div>
    {{mhc_zip.name}}
    {{mhc_zip.mhcs[0].crisis_line}}
    {{mhc_zip.mhcs[0].website}}
    {{mhc_zip.mhcs[0].name}}
</div>
{% endif %}

{% if mhc_county %}
<div>
    {{mhc_county}}
</div>
{% endif %}


{% endblock %}