{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}





<h2>Crisis Program</h2>
<p><b>Notice:</b>
    This program is meant as a referral source. These questions are meant to gauge current risk,
    however, if you believe you will hurt yourself or someone else, or do not think you can remain safe.
    <a href=#>Click Here</a> for helplines or call 911. For Texas residents who are willing to provide their county or zip code,
    <a href=#>Click Here</a> to see information about your local crisis line. 
    Please answer the questions for how you currently feel.</p>
<form id action="/crisis/start" method="POST">
    <input type="submit"></input>
</form>







{% endblock %}